*{
    background-color: black;
    
}
/*
h1{
    position: absolute;
    width: 987px;
    height: 144px;
    left: calc(50% - 840px/2 - 0.5px);
    top: -50px;  
    font-size: 100px;
    line-height: 144px;    
    font-weight: 400;
    font-family: 'Trebuchet MS', sans-serif;
    color: #333333;    
}

h2{
    position: absolute;
    width: 372px;
    left: calc(50% - 372px/2);
    top: 103px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color:#7C7C7C;
    height: 36px;
}

p{    
    position: absolute;
    width: 160px;
    height: 15px;
    left: calc(50% - 145px/2 - 0.5px);
    top: 188px;  
    font-size: 15px;   
    line-height: 16px;    
    font-style: italic;    
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #7C7C7C;    
}

img{
    width: 250px;
    top: 200px;
    left: 505px;    
    position: relative;
}

p1{    
    position: absolute;
    width: 55px;
    height: 25px;
    left: calc(50% - 57px/2 - 0.5px);
    top: 50px;  
    font-size: 25px;   
    line-height: 16px;    
    font-style: italic;    
    font-family: Helvetica, sans-serif;
    color: #ffffff;    
}
*/
    

h1{       
    font-size: 100px;    
    font-family: 'Trebuchet MS', sans-serif;
    color: #333333;
    text-align: center;
    position: relative;
    top: -55px;    
}

h2{        
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: italic;    
    font-size: 25px;    
    color:#7C7C7C;
    text-align: center;
    top: -120px;
    position: relative;       
}
p{
    text-align: center;
    font-size: 18px;     
    font-style: italic;    
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #7C7C7C;
    position: relative;
    top: -86px; 

}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -105px;
}

.butao{
   margin-left: auto;
   width: max-content;
   margin-right: auto;
   display: block;
   padding: 5px;
   position: relative;
   top: -110px;
   cursor: pointer;   
   border-radius: 99px;
   border: 2px solid #ffff;
   text-align: center;
   font-size: 18px;     
   font-style: italic;    
   font-family: 'Franklin Gothic Medium', sans-serif;
   color: #ffff;   
   text-decoration: none;      
}


.butao:hover{
    background-color: #ffff;
    color: black;    
}
/*
footer{
    display: flex;
    
    position: relative;
}

.footer-content{
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;        
    grid-gap: 30px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    
    
}

   
.footer-content a{    
    border-radius: 99px;    
    border: 3px solid #2c2c2c;
    cursor: pointer;    
    width: 95px;
    background-color: #505050;
    align-items: center;

}
   
.footer-content a:hover{
    background-color: #b6b6b6;  
    border: 3px solid #2c2c2c;
}
.footer-content .icon{
    width: 40%;
    top: -20px;
    display: flex;
   
}
    */
       
  
.menu{
    
    align-items: center; 
    display:grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-content: center;
      
        
    }

.icon{
    
    color: #ffff;        
    text-decoration: none;
    align-items: center;
    font-size: 50px;
    text-shadow: 0 10px 5px rgb(80, 80, 80);
    
    
    
}



.icon:hover{
    color: rgb(107, 107, 107);
    
    
}