* {
    cursor: url(/assets/img/cursor.png), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: linear-gradient(rgb(18, 0, 22), rgb(0, 0, 0));
    overflow-y: auto;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

main {
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.logo {
    height: 100px;
}

.mail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.mail-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    opacity: 80%;
    color: whitesmoke;
}

.mailto {
    max-width: 100%;
    opacity: 80%;
    transition: .2s ease;
    color: whitesmoke;
    font-weight: 700;
    font-size: 45px;
}

.mailto:hover {
    opacity: 100%;
    font-style: normal;
    transition: .2s ease;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    gap: 50px;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
    color: whitesmoke;
    transition: .3s ease;

    gap: 7px;
    font-size: 24px;
    font-weight: 700;
    opacity: 80%;
}

.icon-tag {
    font-size: 24px;
}

.button:hover {
    opacity: 100%;
    text-shadow: 1px 1px 1px rgb(56, 3, 66);
    transition: .2s ease;
}

.bio {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 5px;
    padding: 10px;
}

p,
h1 {
    color: whitesmoke;
}

.bio p {
    font-style: italic;
}

h1 {
    font-size: 18px;
}

@media only screen and (max-width:768px) {

    section {
        gap: 40px;
    }

    header {
        margin-top: 20px;
    }

    .mailto {
        font-size: 32px;
    }

    .socials {
        flex-direction: column;
        gap: 10px
    }

    .bio {
        max-width: 85%;
    }

}

@media only screen and (max-width:430px) {
    .mailto {
        font-size: 18px;
    }

    .bio p {
        font-size: 11px;
    }

    h1 {
        font-size: 14px;
    }
}