*{
    cursor: url(/assets/style/cursor.png), auto;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-image: url(/assets/style/bg.png);    
    font-family: 'Kanit black', sans-serif;
}

a{
    text-decoration: none;
}